<%= render "shared/header" %>

<div class="main">
  提供待ち商品
  <div class="order-contents">
    <% @orders.each do |order| %>
      <div class="provide-list">
        <%= order.customer_id%>
        <div class="provide-content">
          <% order.customer.cart.menus.each do |menu| %>
            <%= menu.title %>
            <%= form_with model: @order, url: provide_path(@order), local: true do |f| %>
              <%= f.check_box :check %>
              <%= f.submit "提供" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>