<%= render "shared/header" %>

<div class='main'>
  <div class='all-menu'>
    <div class='main-menu'>
      <h2>
        メインメニュー
      </h2>
      <%# 繰り返し表示設定 %>
      <% @menus.each do |menu|%>
        <div class='menu-content'>
          <% if menu.category.name == "メインメニュー" %>
            <%= link_to menu_path(menu.id) do %>
              <li>
                <%= menu.title %>
              </li>
              <li>
                <%= image_tag menu.image, class: 'menu-image' %>
              </li>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <%# 繰り返し表示設定 %>
    </div>
    <div class='side-menu'>
      <h2>
        サイドメニュー
      </h2>
      <%# 繰り返し表示設定 %>
      <% @menus.each do |menu|%>
        <% if menu.category.name == "サイドメニュー" %>
          <div class='menu-content'>
            <%= link_to menu_path(menu.id) do %>
              <li>
                <%= menu.title %>
              </li>
              <li>
                <%= image_tag menu.image, class: 'menu-image' %>
              </li>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%# 繰り返し表示設定 %>
    </div>
    <div class='dessert'>
      <h2>
        デザート
      </h2>
      <%# 繰り返し表示設定 %>
      <% @menus.each do |menu|%>
        <% if menu.category.name == "デザート" %>
          <div class='menu-content'>
            <%= link_to menu_path(menu.id) do %>
              <li>
                <%= menu.title %>
              </li>
              <li>
                <%= image_tag menu.image, class: 'menu-image' %>
              </li>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%# 繰り返し表示設定 %>
    </div>
  </div>
</div>

<%= render "shared/footer"%>