<%= render "shared/header" %>
<div class="menu-data">
  <li>
    <%= @menu.title %>
  </li>
  <li>
    <%= image_tag @menu.image %>
  </li>
  <li>
    <%= @menu.text %>
  </li>
  <li>
    <%= @menu.price %>円
  </li>
  <%= form_with model: @cart_menu, url: add_menu_menu_path, lecal: true do |f| %>
    <%= f.submit "注文リストに入れる", class: "order-list-add-button" %>
  <% end %>
</div>
<%= render "shared/footer" %>