<div class='footer'>
  <ul class='staff-management'>
    <% if staff_signed_in? %>
      <li><%= link_to "新メニュー登録", new_menu_path, class: "new-menu-page", local: true %></li>
      <%# <li><%= link_to current_user.nickname, "#", class: "user-nickname" %>
      <li><%= link_to 'ログアウト', destroy_staff_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'スタッフ専用ログイン', new_staff_session_path, class: "login" %></li>
      <li><%= link_to 'スタッフ専用新規登録', new_staff_registration_path, class: "sign-up" %></li>
     <% end %>
  </ul>
</div>