<div class='header'>
  <li><%= link_to "トップページ", root_path, class: 'root-link', local: true %></li>
  <ul class='customer-management'>
    <% if customer_signed_in? %>
      <%# <li><%= link_to current_user.nickname, "#", class: "user-nickname" %>
      <% if current_customer.cart_id.present? && (request.path != cart_path(@customer)) %>
        <li><%= link_to "注文リストを確認する", cart_path(@customer), class: "order-list", local: true %></li>
      <% end %>
      <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to '登録済みのお客様はこちら', new_customer_session_path, class: "login" %></li>
      <li><%= link_to '新規のお客様はこちら', new_customer_registration_path, class: "sign-up" %></li>
     <% end %>
  </ul>
</div>